[submodule "asman-core"]
	path = dependencies/asman-core
	url = git@github.com:asman-go/core.git
[submodule "api-gateway"]
	path = dependencies/api-gateway
	url = git@github.com:asman-go/api-gateway.git
[submodule "frontend-py"]
	path = dependencies/frontend-py
	url = git@github.com:asman-go/frontend-py.git
[submodule "asman-notes"]
	path = dependencies/asman-notes
	url = git@github.com:asman-go/product.git
